body {
    width: 80%;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section {
    border-bottom: 2px solid black;
}

.flex-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

img {
    margin: 2px;
}
