body {
    font-family: sans-serif;
}

.wrapper {
    width: 968px;
    margin: auto;
}

.logo {
    height: 90px;
    margin-bottom: -30px;
}

header h1 {
    font-size: 3em;
    display: inline-block;
    margin: 0;
}

header h2 {
    margin: 0;
    padding: 15px;
}

.bg-grad {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#E2E2E3), to(white));
    background-image: -webkit-linear-gradient(top, #E2E2E3, white);
    background-image: -moz-linear-gradient(top, #E2E2E3, white 20%);
    background-image: linear-gradient(to bottom, #E2E2E3, white 20%);
}

.flex-container {
    display: flex;
}

.blue-text {
    color: #23669E;
}

.red-text {
    color: #DA2C26;
}

.white-text {
    color: white;
}

.button {
    display: block;
    /*height: 30px;*/
    padding: 10px;
    text-align: center;
    margin: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 1.125em;
    font-weight: bold;
}

.blue {
    background: #6096C1;
    background-image: linear-gradient(top, #6496c8, #346392);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#6496c8), to(#2C6CA3));
    background-image: -webkit-linear-gradient(top, #6496c8, #2C6CA3);
    background-image: -moz-linear-gradient(top, #6496c8, #2C6CA3);
    background-image: linear-gradient(to bottom, #6496c8, #2C6CA3);
}

.orange {
    background: #EAAD56;
    /*background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, .25) 25%, rgba(0, 0, 0, .25) 75%, rgba(255, 255, 255, 0) 100%);*/
    background-image: -webkit-gradient(linear, left top, left bottom, from(#EAAD56), to(#EF7700));
    background-image: -webkit-linear-gradient(top, #EAAD56, #EF7700);
    background-image: -moz-linear-gradient(top, #EAAD56, #EF7700);
    background-image: linear-gradient(to bottom, #EAAD56, #EF7700);
}

.light-blue {
    background: #71CFDF;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#71CFDF), to(#00C1DF));
    background-image: -webkit-linear-gradient(top, #71CFDF, #00C1DF);
    background-image: -moz-linear-gradient(top, #71CFDF, #00C1DF);
    background-image: linear-gradient(to bottom, #71CFDF, #00C1DF);
}

.big-font {
    font-size: 2em;
}

.shadow {
    box-shadow: 3px 3px 1px #888888;
    -moz-box-shadow: 3px 3px 1px #888888;
    -webkit-box-shadow: 3px 3px 1px #888888;
}

a {
    color: #02BFDF;
    text-decoration: none;
}

a:visited {
    color: #23669E;
}

aside {
    width: 25%;
    margin-right: 20px;
    margin-left: 10px;
}

.short-definition {
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
}

.bold {
    font-weight: bold;
}

.contact {
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contact p {
    padding: 0;
    margin: 0;
}

.advert {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    background-image: url('../images/ad_background.png');
}

.advert h4 {
    z-index: 100;
    text-align: center;
    font-size: 1.5em;
}

.ninja-img {
    width: 50%;
    margin: auto;
    display: block;
}

main {
    width: 70%;
    margin-right: 10px;
}

main header {
    margin-top: 10px;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}

.home-img {
    width: 35px;
}

.phone-img {
    width: 70px;
    align-self: center;
    margin-right: 10px;
}

.client-server-img {
    display: block;
    width: 300px;
    margin: auto;
}

footer {
    border: 5px solid #0085E0;
    border-bottom: 0;
}

footer img {
    height: 100px;
    margin: 20px;
}